:root {
  --main-primary-color: #191c24;
  --primary-color: #af1763;
  --supporting-color1: #198754;
  --supporting-color2: #ffc107;
  --supporting-color3: #0d6efd;
  --supporting-color4: #ab2e3c;
  --supporting-color5: #ffff;
}

/* dashboard-container */
.dashboard-main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* -----------------------sideNav-------------------- */
.nav-container {
  width: 18%;
  color: var(--supporting-color5);
  background-color: var(--main-primary-color);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.barsIcon {
  display: none;
  font-size: 24px;
}

.side-nav-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.brand-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-nav-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-container h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--supporting-color5);
}
.brand-container p {
  font-size: 0.75rem;
}
.menu-container {
  margin-top: 36px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding-left: 0.2rem !important;
}
.menu-link {
  width: 80%;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  color: var(--supporting-color5);
  padding: 5px;
  font-size: 0.9375rem;
}
.menu-link:hover {
  color: var(--supporting-color3);
  transition: all 0.3s ease;
}
.menu-active-link {
  width: 80%;
  text-decoration: none;
  font-size: 0.9375rem;
  color: var(--supporting-color5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;
}

.contact-us-2 {
  width: 80%;
  color: var(--supporting-color5);
  font-size: 0.9375rem;
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}
.contact-us-2-number {
  width: 80%;
  color: var(--supporting-color5);
  font-size: 0.9375rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
/* mobile protrait devices */
@media (min-width: 320px) and (max-width: 480px) {
  .barsIcon {
    display: block;
  }
  .nav-container.open {
    width: 100%;
    display: inherit;
    background-image: linear-gradient(var(--supporting-color3), black);
  }
  .nav-container.close {
    display: none;
  }
  .menu-container {
    overflow-y: auto;
  }
  .menu-link {
    color: var(--supporting-color5);
    font-size: 18px;
  }
  .menu-link:hover {
    color: var(--supporting-color1);
  }
  .menu-active-link {
    color: var(--supporting-color2);
    font-size: 18px;
  }
  .brand-container h2 {
    color: var(--supporting-color2);
  }
  .brand-container p {
    color: white;
  }
  .contact-us-2 {
    color: var(--primary-color);
    font-size: 18px;
  }
  .contact-us-2-number {
    color: var(--primary-color);
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .top-bar-logo {
    display: none;
  }
}
/* mobile landscape screen */
@media (min-width: 481px) and (max-width: 767px) {
  .barsIcon {
    display: block;
  }
  .nav-container.open {
    width: 100%;
    display: flex;
    height: max-content;
    background-image: linear-gradient(var(--supporting-color3), black);
  }
  .nav-container.close {
    display: none;
  }
  .menu-container {
    overflow-y: auto;
    margin-bottom: 100%;
  }
  .menu-link {
    color: var(--supporting-color5);
    font-size: 18px;
  }
  .menu-link:hover {
    color: var(--supporting-color1);
  }
  .menu-active-link {
    color: var(--supporting-color2);
    font-size: 18px;
  }
  .brand-container h2 {
    color: var(--supporting-color2);
  }
  .brand-container p {
    color: white;
  }
  .contact-us-2 {
    color: var(--primary-color);
    font-size: 18px;
  }
  .contact-us-2-number {
    color: var(--primary-color);
    font-size: 18px;
  }
}
/* Tablets for portrait*/
@media (min-width: 768px) and (max-width: 1024px) {
  .barsIcon {
    display: block;
  }
  .nav-container.open {
    width: 100%;
    display: inherit;
    height: max-content;
    background-image: linear-gradient(var(--supporting-color3), black);
  }
  .nav-container.close {
    display: none;
  }
  .menu-container {
    margin-bottom: 100%;
    overflow-y: auto;
  }
  .menu-link {
    color: var(--supporting-color5);
    font-size: 24px;
  }
  .menu-link:hover {
    color: var(--supporting-color1);
  }
  .menu-active-link {
    color: var(--supporting-color2);
    font-size: 24px;
  }
  .brand-container h2 {
    color: var(--supporting-color2);
  }
  .brand-container p {
    color: white;
  }
  .contact-us {
    margin-top: 56px;
  }
  .contact-us-2 {
    color: var(--primary-color);
    font-size: 24px;
  }
  .contact-us-2-number {
    color: var(--primary-color);
    font-size: 24px;
  }
}

/* for tablets landscape or for small laptops */
@media (min-width: 1025px) and (max-width: 1200px) {
  .barsIcon {
    display: block;
  }
  .nav-container.open {
    width: 100%;
    display: flex;
    height: max-content;
    background-image: linear-gradient(var(--supporting-color3), black);
  }
  .nav-container.close {
    display: none;
  }
  .menu-container {
    margin-bottom: 100%;
    overflow: auto;
  }
  .menu-link {
    color: var(--supporting-color5);
    font-size: 18px;
  }
  .menu-link:hover {
    color: var(--supporting-color1);
  }
  .menu-active-link {
    color: var(--supporting-color2);
    font-size: 18px;
  }
  .brand-container h2 {
    color: var(--supporting-color2);
  }
  .brand-container p {
    color: white;
  }
  .contact-us-2 {
    color: var(--primary-color);
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .top-bar-logo {
    display: none;
  }
}

/* --------------------------main-container----------------------------- */
.main-container {
  width: 82%;
  background-color: var(--supporting-color5);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.top-bar {
  height: 4.375rem;
  width: 100%;
  background-color: var(--main-primary-color);
  display: flex;
  color: var(--supporting-color5);
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.625rem;
  gap: 1.5rem;
}
.top-bar-logo {
  height: 3.125rem;
  width: 3.125rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}
.top-bar-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}
.top-bar-heading h1 {
  font-size: 1.125rem;
}
.top-bar-heading button {
  background-color: var(--supporting-color3);
  color: var(--supporting-color5);
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  margin-right: 0.625rem;
  cursor: pointer;
}
.top-bar-heading button:hover {
  background-color: var(--main-primary-color);
  transition: all 0.5s ease;
}
/* mobile portrait screen */
@media (min-width: 320px) and (max-width: 480px) {
  .main-container.open {
    width: 0%;
  }
  .main-container.close {
    width: 100%;
  }
  .top-bar {
    justify-content: space-between;
  }
}
/* mobile landscape screen */
@media (min-width: 481px) and (max-width: 767px) {
  .main-container.open {
    width: 0%;
  }
  .main-container.close {
    width: 100%;
  }
  .top-bar {
    justify-content: space-between;
  }
}

/* Tablets for portrait*/
@media (min-width: 768px) and (max-width: 1024px) {
  .main-container.open {
    width: 0%;
  }
  .main-container.close {
    width: 100%;
  }
  .top-bar {
    justify-content: space-between;
  }
}
/* for tablets landscape or for small laptops */
@media (min-width: 1025px) and (max-width: 1200px) {
  .main-container.open {
    width: 0%;
  }
  .main-container.close {
    width: 100%;
  }
  .top-bar {
    justify-content: space-between;
  }
}
