/* ------------------- for Signup && Login-------------------- */
:root {
  --main-primary-color: #191c24;
  --primary-color: #af1763;
  --supporting-color1: #198754;
  --supporting-color2: #ffc107;
  --supporting-color3: #0d6efd;
  --supporting-color4: #ab2e3c;
  --supporting-color5: #ffff;
}
.signup-wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--main-primary-color);
  color: var(--supporting-color5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-box {
  width: 80%;
  height: 80vh;
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#loading {
  font-size: 18px;
  margin: 10px;
}
.signup-left {
  width: 50%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.signup-logo {
  width: 9.375rem;
  border-radius: 50%;
  transition: transform 1s ease;
}
.signup-logo:hover {
  transform: rotate(360deg);
  cursor: pointer;
}
#signup-left-heading {
  text-align: center;
  font-size: 1.875rem;
}
#signup-left-para {
  text-align: center;
  font-style: italic;
  line-height: 1.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.signup-right {
  width: 50%;
  padding: 10px;
  background-color: var(--primary-color);
  position: relative;
}

#signup-right-heading {
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-align: center;
}
#signup-right-heading::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 4.1875rem;
  left: 0;
  background-color: var(--main-primary-color);
}
.signup-login-form {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.signup-login-form input {
  padding: 0.625rem;
  margin-top: 0.3125rem;
  border: none;
  outline: none;
  font-size: 1.125rem;
  border-radius: 5px;
}

#signup-right-btn {
  width: 25%;
  margin-top: 0.3125rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.625rem;
  border: none;
  outline: none;
  color: var(--supporting-color5);
  background-color: var(--supporting-color3);
}
#signup-right-btn span {
  margin-left: 15px;
}
#signup-right-btn i {
  margin-left: -23px;
}
#signup-right-btn .signupLoginIcon {
  margin-left: -43px;
}
#signup-right-btn:hover {
  transition: 0.5s;
  background-color: var(--main-primary-color);
}
.signup-right-imgUrl {
  width: 80px;
  margin-left: 35%;
  border-radius: 0.3125rem;
}
#signup-login-create-acc {
  text-decoration: none;
  width: 25%;
  margin-top: 0.3125rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.625rem;
  border: none;
  outline: none;
  color: var(--supporting-color5);
  background-color: var(--main-primary-color);
}
#signup-login-create-acc span {
  margin-left: 18px;
}
#signup-login-create-acc:hover {
  transition: 0.5s;
  background-color: var(--main-primary-color);
}

/* --------------responsive----signup && Login---------------------- */
/* Mobile phones portrait screen */

@media (min-width: 320px) and (max-width: 480px) {
  .signup-box {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .signup-left {
    width: 90%;
  }
  .signup-right {
    width: 90%;
  }
  .signup-right-imgUrl {
    width: 60px;
  }
  #signup-right-heading {
    font-size: 24px;
    margin-top: 0px;
  }
  #signup-right-heading::after {
    top: 45px;
    left: 0;
    background-color: var(--main-primary-color);
  }
  #signup-left-heading {
    font-size: 21px;
  }
  #signup-left-para {
    line-height: 15px;
    margin-top: -5px;
    font-size: 12px;
  }
  .signup-logo {
    width: 80px;
    margin-top: 10px;
  }
  #signup-right-btn {
    width: 100%;
    text-align: center;
  }
  #signup-login-create-acc {
    width: 100%;
    text-align: center;
  }
  #signup-right-btn span {
    margin-left: 15px;
  }
  #signup-right-btn i {
    margin-left: 12px;
  }
  #signup-right-btn .signupLoginIcon {
    margin-left: -15px;
  }
  .signup-login-form input {
    padding: 8px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 16px;
  }
}
/* mobile landscape screen */
@media (min-width: 481px) and (max-width: 767px) {
  .signup-box {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
  .signup-right-imgUrl {
    width: 60px;
  }
  #signup-right-heading {
    font-size: 24px;
    margin-top: 0px;
  }
  #signup-right-heading::after {
    top: 45px;
    left: 0;
    background-color: var(--main-primary-color);
  }
  #signup-left-heading {
    font-size: 16px;
  }
  #signup-left-para {
    line-height: 18px;
    margin-top: -5px;
    font-size: 14px;
  }
  .signup-logo {
    width: 100px;
  }
  #signup-right-btn {
    width: 100%;
    padding: 4px;
    text-align: center;
  }
  #signup-login-create-acc {
    width: 100%;
    padding: 4px;
    text-align: center;
  }
  #signup-right-btn span {
    margin-left: 15px;
  }
  #signup-right-btn i {
    margin-left: 12px;
  }
  #signup-right-btn .signupLoginIcon {
    margin-left: -15px;
  }
  .signup-login-form input {
    padding: 5px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 16px;
  }
  .signup-left {
    width: 50%;
  }
  .signup-right {
    width: 90%;
  }
}

/* Tablets for portrait*/
@media (min-width: 768px) and (max-width: 1024px) {
  .signup-box {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-right-imgUrl {
    width: 100px;
  }
  #signup-right-heading {
    font-size: 28px;
    margin-top: 0px;
  }
  #signup-right-heading::after {
    top: 60px;
    left: 0;
    background-color: var(--main-primary-color);
  }
  #signup-left-heading {
    font-size: 28px;
  }
  #signup-left-para {
    margin-top: -5px;
    font-size: 20px;
  }
  .signup-logo {
    width: 120px;
    margin-top: 10px;
  }
  #signup-right-btn {
    width: 100%;
    text-align: center;
  }
  #signup-login-create-acc {
    width: 100%;
    text-align: center;
  }
  #signup-right-btn span {
    margin-left: 15px;
  }
  #signup-right-btn i {
    margin-left: 12px;
  }
  #signup-right-btn .signupLoginIcon {
    margin-left: -15px;
  }
  .signup-login-form input {
    font-size: 16px;
  }
}
/* for tablets landscape or for small laptops */
@media (min-width: 1025px) and (max-width: 1200px) {
  .signup-box {
    width: 80%;
    height: 80vh;
    border-radius: 0px;
  }
  .signup-left {
    width: 90%;
  }
  .signup-right {
    width: 90%;
  }
  #signup-right-heading {
    font-size: 24px;
    margin-top: 0px;
  }

  #signup-right-heading::after {
    top: 45px;
    left: 0;
    background-color: var(--main-primary-color);
  }
  #signup-left-heading {
    font-size: 18px;
  }
  #signup-left-para {
    font-size: 12px;
    line-height: 16px;
  }
  #signup .signup-logo {
    width: 150px;
  }
  .signup-left {
    width: 50%;
  }
  .signup-right {
    width: 90%;
  }
  .signup-right-imgUrl {
    width: 80px;
  }
}

/* Laptops and desktops */
@media (min-width: 1201px) {
  /* default css */
}
